
header{
    background-color: #0020F4;
    padding: 40px, 240px;
}
ul a{
    color: white;
}
.mainbld{

    height: 600px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    color: #171717;
    font-size: 28px;
    line-height: 34px;
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
}
section img{
    height: 219px;
    margin-right: 25px;
}
p{ 
    text-align: center;
}
section p{
    font-size: 16px;
    line-height: 26px;
    color: #171717;
    margin-bottom: 18px;
    margin-top: 60px;
}
h2{
    color: white;
}
footer{
    background-color: #0A22F4;
    margin-top: px;
}
footer p{
    color: white;
}